body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
 }
 .container {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
 }
 .sidebar {
    width: 35%;
    background-color: #1f3b57;
    color: white;
    padding: 30px;
    text-align: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
 }
 .sidebar .photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
 }
 .sidebar h2 {
    font-size: 28px;
    margin: 0;
 }
 .subtitle {
    font-size: 18px;
    color: #ccc;
    margin: 5px 0 20px;
 }
 .description {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
 }
 .sidebar h3 {
    text-align: left;
    color: #ffcc00;
 }
 .sidebar ul {
    list-style:NONE;
    padding: 1;
    text-align: left;
 }
 .sidebar ul li {
    margin: 10px 0;
    list-style: circle;
 }
 .contact li {
    word-wrap: break-word;
 }
 .main {
    width: 65%;
    padding: 20px;
 }
 .main h3 {
    color: #1f3b57;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
 }
 .main ul {
    list-style: none;
    padding: 0;
 }
 .main ul li {
    margin: 10px 0;
    line-height: 1.6;
 }
 .main ul ul {
    margin-top: 3px;
    padding-left: 15px;
 }


a {
    color: white; 
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 25px;
    background-color: #0d3157; 
    transition: all 0.3s ease;
}

a:hover {
    color: #fff; 
    background-color: #074281; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

